body {
	color: blanchedalmond;
	background-color: black;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header{
  margin: auto;
  width: 600px;
  text-align: center;
}
.container{
  width: 600px;
  display: flex;
  text-align: center;
  margin: auto;
}
aside{
  width: 40%;
}
main{
  width: 60%;
}
.player{
  padding: 0 30px;
}
.player__duration{
  display: flex;
  justify-content: space-between;
}